
<div ng-init="vm.initialize()">
    <div class="panel panel-default bg-mldark p-3" style="margin-bottom: 10px;">
        <h5>CHỈNH SỬA THÔNG TIN NHÂN VIÊN</h5>
        <br />
        <div class="panel-body row">
            <div class="col-lg-1 col-md-1">
                <div class="bg-white">
                    <img src="{{vm.person.imageUrl}}" class="img-thumbnail" />
                </div>
                <div style="font-size:14px; width:100%;" class="btn btn-outline-light " ngf-select="vm.getFile($file)" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="142" ngf-resize="{height: 142}">
                Tải Ảnh Lên
                </div>
            </div>
            <div class="col-lg-2 col-md-2 form-group d-gr">
                <label for="id">MÃ SỐ NHÂN VIÊN:</label>
                <input id="id" class="form-control" type="text" disabled ng-model="vm.person.EmpCode" />
                <label for="id">BỘ PHẬN:</label>
                <input id="id" class="form-control" type="text" disabled ng-model="vm.person.DepartmentName" />
            </div>
            <div class="col-lg-4 col-md-4 form-group d-gr w-100">
                <label for="fName" style="margin-left:0.1rem">HỌ VÀ TÊN:</label>
                <div>
                    <input id="fName" style="width:30%; display:inline-block;" ng-class="vm.IsViewing ? 'disableEl form-control mr-2':'form-control mr-2'" placeholder="Họ " type="text" ng-model="vm.person.FirstName" />
                    <input id="lName" style="width:65%; display:inline-block;" ng-class="vm.IsViewing ? 'disableEl form-control mr-2':'form-control mr-2'" placeholder="Tên" type="text" ng-model="vm.person.LastName" />
                </div>
                <label for="id">CHỨC VỤ:</label>
                <input id="id" style="width:50%;" class="form-control" type="text" disabled ng-model="vm.person.RoleName" />
            </div>
            <div class="col-lg-2 col-md-2 form-group d-gr txt-center">
                <label>GIỚI TÍNH:</label>
                <div class="w-100">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" ng-model="vm.person.IsMale" value="true"  name="optradio" ng-disabled="vm.IsViewing">Nam
                    </label>
                    <label class="form-check-label ml-4">
                        <input type="radio" class="form-check-input" ng-model="vm.person.IsMale" value="false"  name="optradio" ng-disabled="vm.IsViewing">Nữ
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 d-gr">
                <label>TÊN ĐĂNG NHẬP:</label>
                <input type="text" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" disabled ng-model="vm.person.UserName" />
            </div>

        </div>
    </div>

    <div class="panel panel-default " style="display: block; overflow-x: hidden;">
        <div class="panel-body row">
            <uib-tabset justified="true" style="margin-left:10px; width:100%;">
                <uib-tab index="0" heading="LÝ LỊCH">
                    <div ng-include="'/AngularModules/HrModules/Templates/employeeInfo.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="TRÌNH ĐỘ HỌC VẤN">
                    <div ng-include="'/AngularModules/HrModules/Templates/education.html'"></div>
                </uib-tab>
                <uib-tab index="2" heading="KHÁM SỨC KHỎE">
                    <div ng-include="'/AngularModules/HrModules/Templates/healthCheckManagement.html'"></div>
                </uib-tab>
                <uib-tab index="3" heading="HÔN NHÂN">
                    <div ng-include="'/AngularModules/HrModules/Templates/marriage.html'"></div>
                </uib-tab>
                <uib-tab index="4" heading="QUÁ TRÌNH CÔNG TÁC TRƯỚC">
                    <div ng-include="'/AngularModules/HrModules/Templates/workingHistories.html'"></div>
                </uib-tab>
                <uib-tab index="5" heading="THIẾT BỊ">
                    <div ng-include="'/AngularModules/HrModules/Templates/equiments.html'"></div>
                </uib-tab>
                <uib-tab index="6" heading="THÔNG TIN LƯƠNG">
                    <uib-tabset justified="true" style="margin-left:10px; width:100%;">
                        <uib-tab index="0" heading="TIỀN HỢP TÁC KD">
                            <div ng-include="'/AngularModules/HrModules/Templates/PersonInsurances/Templates/businessCooperation.html'"></div>
                        </uib-tab>
                        <uib-tab index="1" heading="BẢO HIỂM XÃ HỘI">
                            <div ng-include="'/AngularModules/HrModules/Templates/PersonInsurances/Templates/socialInsurance.html'"></div>
                        </uib-tab>
                        <uib-tab index="2" heading="BẢO HIỂM NHÂN THỌ">
                            <div ng-include="'/AngularModules/HrModules/Templates/PersonInsurances/Templates/lifeInsurance.html'"></div>
                        </uib-tab>
                        <uib-tab index="3" heading="BẢO HIỂM Y TẾ TỰ NGUYỆN">
                            <div ng-include="'/AngularModules/HrModules/Templates/PersonInsurances/Templates/healthInsurance.html'"></div>
                        </uib-tab>
                        <uib-tab index="4" heading="TÀI KHOẢN NGÂN HÀNG">
                            <div ng-include="'/AngularModules/HrModules/Templates/PersonInsurances/Templates/bankAccount.html'"></div>
                        </uib-tab>
                        <uib-tab index="5" heading="GIẢM TRỪ NGƯỜI PHỤ THUỘC">
                            <div ng-include="'/AngularModules/HrModules/Templates/PersonInsurances/Templates/dependentPerson.html'"></div>
                        </uib-tab>
                    </uib-tabset>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <div class="row" style="float:right; margin: 20px 10px 20px 0">
        <button class="btn btn-outline-success" ng-click="vm.saveChanges()" style="height: 50px; width:200px; margin-right: 20px;" ng-disabled="vm.IsViewing">LƯU THAY ĐỔI</button>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#Cancel" style="height: 50px; width:200px;" ng-disabled="vm.IsViewing">HỦY BỎ</button>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="Cancel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn có chắc muốn hủy bỏ thao tác , mọi dữ liệu chưa được lưu sẽ mất?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.cancel()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>