<div ng-controller="educationController as vm" id="education" style="margin:15px;">
    <div ng-init="vm.initialize()">
        <div class="row">
            <div class="col-lg-2">
                <label for="grade">TRÌNH ĐỘ:</label>
                <select class="form-control">
                    <option>Tốt Nghiệp Tiểu Học</option>
                    <option>Tốt Nghiệp THCS</option>
                    <option>Tốt Nghiệp THPT</option>
                    <option>Tốt Nghiệp Cao Đẳng</option>
                    <option>Tốt Nghiệp Đại Học</option>
                </select>
            </div>

            <div class="col-lg-2 col-md-2">
                <label for="major">CHUYÊN MÔN:</label>
                <input type="text" class="form-control" />
            </div>

            <div class="col-lg-2 col-md-2">
                <label for="grade">GPLX:</label>
                <select class="form-control">
                    <option>Dấu B2</option>
                    <option>Dấu C</option>
                    <option>Dấu D</option>
                    <option>Dấu E</option>
                </select>
            </div>

            <div class="col-lg-2 col-md-2">
                <label for="major">CÓ GIÁ TRỊ ĐẾN:</label>
                <input type="date" class="form-control" />
            </div>

            <div class="col-lg-4 col-md-4">
                <label for="major">NƠI CẤP:</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <br />
        <!-- Languages -->
        <div class="row">
            <div class="col-lg-6 col-md-6" style="display:block;">
                <div>
                    <label>NGOẠI NGỮ:</label>
                    <button class="btn btn-primary mt-2 mb-2 float-right" data-toggle="modal" data-target="#LanguageModal" ng-click="vm.add()">
                        <i class="fa fa-plus"> </i> THÊM NGOẠI NGỮ
                    </button>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light shadow_tb">
                        <tr>
                            <th style="width:45%;">NGOẠI NGỮ</th>
                            <th style="width:30%;">ĐÁNH GIÁ</th>
                            <th style="width:21%;"></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="row in vm.languagesCertifications">
                        <tr>
                            <td>{{row.name}}</td>
                            <td>{{row.qualification}}</td>
                            <td>
                                <button class="btn btn-outline-success" data-toggle="modal" data-target="#LanguageModal" ng-click="vm.editLanguage(row)">
                                    <i class="fas fa-fw fa-pen"></i>
                                </button>
                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteLanguageModal">
                                    <i class="fas fa-fw fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Language Modal -->
        <div class="modal fade" id="LanguageModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="ModalTitle">{{vm.modalTitle}}</h5>
                        <button type="button" class="modal-btnClose close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="err-message" ng-if="vm.message">{{vm.message}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="language">Ngoại ngữ</label>
                                <select id="language" class="form-control"
                                        ng-model="vm.selectedLanguage"
                                        ng-options="l.id as l.name for l in vm.listLanguages"
                                        ng-change="vm.changeLang(l); vm.checkValid()">
                                    <option value="">--Select Language--</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="qualification">Đánh giá</label>
                                <select id="qualification" class="form-control"
                                        ng-model="vm.selectedQualification"
                                        ng-options="q.id as q.qualification for q in vm.listQualifications"
                                        ng-change="vm.changeQuali(vm.selectedQualification); vm.checkValid()">
                                    <option value="">--Select Qualification--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.saveChanges()" ng-disabled="!vm.isValid" >Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Language Modal -->
        <div class="modal fade" id="DeleteLanguageModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Bạn muốn xóa ngoại ngữ này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lincenses -->
        <div class="row" style="display:block;">
            <div>
                <label>GIẤY PHÉP HÀNH NGHỀ:</label>
            </div>
            <table class="table table-hover">
                <thead class="thead-light shadow_tb">
                    <tr>
                        <th class="txt-center" style="width:10%;">ĐÃ CÓ</th>
                        <th style="width:55%;">TÊN GIẤY PHÉP HÀNH NGHỀ</th>
                        <th style="width:15%;">THỜI HẠN SD (tháng)</th>
                        <th style="width:10%;">NGÀY CẤP</th>
                        <th style="width:10%;">CÓ GIÁ TRỊ ĐẾN</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="row in vm.lincenses">
                        <td class="center-block txt-center"><input type="checkbox" ng-model="row.isCheck" ng-change="vm.changeTime(row)" /></td>
                        <td class="text-uppercase">{{row.name}}</td>
                        <td><input type="number" class="form-control" ng-model="row.usedTime" ng-change="vm.changeTime(row)" ng-disabled="!row.isCheck" /></td>
                        <td><input type="date" class="form-control" ng-model="row.licenseDate" ng-change="vm.changeTime(row)" ng-disabled="!row.isCheck" /></td>
                        <td><input type="date" class="form-control" ng-model="row.expiredDate" ng-disabled="!row.isCheck" /></td>
                        <td>
                            <button class="btn btn-outline-primary" ng-click="vm.saveLincense(row)" ng-disabled="!row.isEnable">
                                <i class="fas fa-fw fa-save"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
