

<div ng-controller="educationController as vm" id="education">
    <div ng-init="vm.initialize()">
        <div class="row mt-5" style="margin-right: 15px; margin-left: 5px; height: 400px">
            <div class="col-lg-6 col-md-6">
                <div class="row custom-card" style="height:45%">
                    <div class="col-lg-6 col-md-6">
                        <label for="grade">TRÌNH ĐỘ:</label>
                        <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'"
                                ng-options="l.Id as l.Name for l in vm.educationGrades"
                                ng-model="vm.personEdu.GradeId">
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <label for="major">CHUYÊN MÔN:</label>
                        <input type="text" ng-model="vm.personEdu.Major" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" />
                    </div>
                </div>
                <!-- GPLX -->
                <div class="row custom-card" style="margin-top: 20px; height: 50%">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label for="grade">GPLX:</label>
                        <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'"
                                ng-options="l.Id as l.Name for l in vm.driveLicenses"
                                ng-model="vm.personEdu.selectedDriveLicense">
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label for="major">CÓ GIÁ TRỊ ĐẾN:</label>
                        <date-picker value="vm.personEdu.DriveLicenseExpired" format="dd/MM/yyyy"></date-picker>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mt-2">
                        <label for="major">NƠI CẤP:</label>
                        <input type="text" ng-model="vm.personEdu.DriveLicensePlace" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" />
                    </div>
                </div>
            </div>

            <br />
            <!-- Languages -->
            <div class="col-lg-6 col-md-6 p-3 custom-card " style="height: 100%; overflow: auto;">
                <div>
                    <label>NGOẠI NGỮ:</label>
                    <button class="btn btn-outline-primary mt-2 mb-2 float-right" data-toggle="modal" data-target="#LanguageModal" ng-click="vm.openAdd()" ng-disabled="vm.IsViewing">
                        <i class="fa fa-plus"> </i> THÊM NGOẠI NGỮ
                    </button>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light shadow_tb">
                        <tr>
                            <th class="custom-col" style="width:45%;">NGOẠI NGỮ</th>
                            <th class="custom-col" style="width:30%;">ĐÁNH GIÁ</th>
                            <th class="custom-col" style="width:25%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.personEdu.PersonLanguages">
                            <td class="custom-col">{{row.LanguageName}}</td>
                            <td class="custom-col">{{row.Level}}</td>
                            <td class="custom-col">
                                <button class="btn btn-outline-success" data-toggle="modal" data-target="#LanguageModal" ng-click="vm.openEditLanguage(row, $index)" ng-disabled="vm.IsViewing">
                                    <i class="fas fa-fw fa-pen"></i>
                                </button>
                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteLanguageModal" ng-click="vm.openDelModal(row)" ng-disabled="vm.IsViewing">
                                    <i class="fas fa-fw fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <hr />

        <!-- Language Modal -->
        <div class="modal fade" id="LanguageModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="ModalTitle">{{vm.modalTitle}}</h5>
                        <button type="button" class="modal-btnClose close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="err-message" ng-if="vm.message">{{vm.message}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="language">Ngoại ngữ</label>
                                <select ng-disabled="vm.isEditing" id="language" class="form-control"
                                        ng-model="vm.selectedPersonLanguage.LanguageId"
                                        ng-options="l.Id as l.Name for l in vm.languages"
                                        ng-change="vm.isValidPersonlanguage()">
                                    <option value="0">--Chọn Ngôn Ngữ--</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="qualification">Đánh giá</label>
                                <select id="qualification" class="form-control"
                                        ng-model="vm.selectedPersonLanguage.Level"
                                        ng-options="q.LevelId as q.Level for q in vm.listQualifications"
                                        ng-change="vm.isValidPersonlanguage()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.savePersonLanguage()" ng-disabled="!vm.isValidPLanguage">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Language Modal -->
        <div class="modal fade" id="DeleteLanguageModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Bạn muốn xóa đánh giá của {{vm.deletedDataRow.LanguageName}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.deleted(vm.deletedDataRow)">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lincenses -->
        <div class="row" style="display:block; margin:15px;">
            <div>
                <label>GIẤY PHÉP HÀNH NGHỀ:</label>
            </div>
            <table class="table table-hover tblWorkLicense">
                <thead class="thead-light shadow_tb">
                    <tr>
                        <th class="txt-center custom-col" style="width:5%;">ĐÃ CÓ</th>
                        <th class="custom-col" style="width:20%;">TÊN GIẤY PHÉP HÀNH NGHỀ</th>
                        <th class="custom-col" style="width:15%;">THỜI HẠN SD (tháng)</th>
                        <th class="custom-col" style="width:25%;">NGÀY CẤP</th>
                        <th class="custom-col" style="width:25%;">CÓ GIÁ TRỊ ĐẾN</th>
                        <th class="custom-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.personWorkLicenses">
                        <td class="center-block txt-center custom-col"><input type="checkbox" ng-model="row.IsChecked" ng-disabled="vm.IsViewing" /></td>
                        <td class="text-uppercase custom-col">{{row.Name}}</td>
                        <td class="custom-col"><input type="number" class="form-control" ng-model="row.Duration"  ng-disabled="!row.IsChecked" /></td>
                        <td class="custom-col"><div style="width:100%; margin-top:15px;"><date-picker datepicker-append-to-body="true" value="row.FromDate" format="dd/MM/yyyy"></date-picker></div></td>
                        <td class="custom-col"><button style="display:inline; float:left;" class="btn btn-outline-info" ng-click="vm.changeTime(row)"><i class="glyphicon glyphicon-adjust"></i></button> <span style="width:60%; padding-left:45px;" class="information">{{row.ToDate | date:'dd/MM/yyyy'}}</span></td>
                        <td class="custom-col">
                            <button class="btn btn-outline-primary" ng-click="vm.saveLincense(row)" ng-disabled="!row.IsEnabled">
                                <i class="fas fa-fw fa-save"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
