<div style="margin:15px;">
    <div class="row">
        <div class="col-lg-2">
            <label for="grade">TRÌNH ĐỘ:</label>
            <select class="form-control">
                <option>Tốt Nghiệp Tiểu Học</option>
                <option>Tốt Nghiệp THCS</option>
                <option>Tốt Nghiệp THPT</option>
                <option>Tốt Nghiệp Cao Đẳng</option>
                <option>Tốt Nghiệp Đại Học</option>
            </select>
        </div>

        <div class="col-lg-2 col-md-2">
            <label for="major">CHUYÊN MÔN:</label>
            <input type="text" class="form-control" />
        </div>

        <div class="col-lg-2 col-md-2">
            <label for="grade">GPLX:</label>
            <select class="form-control">
                <option>Dấu B2</option>
                <option>Dấu C</option>
                <option>Dấu D</option>
                <option>Dấu E</option>
            </select>
        </div>

        <div class="col-lg-2 col-md-2">
            <label for="major">CÓ GIÁ TRỊ ĐẾN:</label>
            <input type="date" class="form-control" />
        </div>

        <div class="col-lg-4 col-md-4">
            <label for="major">NƠI CẤP:</label>
            <input type="text" class="form-control" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-6 col-md-6" style="display:block;">
            <div>
                <label>NGOẠI NGỮ:</label>
                <button class="btn btn-primary mt-2 mb-2 float-right"><i class="fa fa-plus"> </i> THÊM NGOẠI NGỮ</button>
            </div>
            <table class="table table-hover">
                <thead class="thead-light shadow_tb">
                    <tr>
                        <th style="width:45%;">NGOẠI NGỮ</th>
                        <th style="width:30%;">ĐÁNH GIÁ</th>
                        <th style="width:21%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TIẾNG ANH</td>
                        <td>Khá</td>
                        <td>
                            <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                            <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>TIẾNG HÀN</td>
                        <td>Khá</td>
                        <td>
                            <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                            <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>TIẾNG TRUNG QUỐC</td>
                        <td>Trung Bình</td>
                        <td>
                            <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                            <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="display:block;">
        <div>
            <label>GIẤY PHÉP HÀNH NGHỀ:</label>
            <button class="btn btn-primary mt-2 mb-2 mr-3 float-right"><i class="fa fa-plus"> </i> THÊM GIẤY PHÉP</button>
        </div>
        <table class="table table-hover">
            <thead class="thead-light shadow_tb">
                <tr>
                    <th class="txt-center" style="width:10%;">ĐÃ CÓ</th>
                    <th style="width:55%;">TÊN GIẤY PHÉP HÀNH NGHỀ</th>
                    <th style="width:15%;">THỜI HẠN SD</th>
                    <th style="width:10%;">NGÀY CẤP</th>
                    <th style="width:10%;">CÓ GIÁ TRỊ ĐẾN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center-block txt-center"><input type="checkbox" /></td>
                    <td>AN TOÀN VỆ SINH LAO ĐỘNG</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                </tr>
                <tr>
                    <td class="center-block txt-center"><input type="checkbox" /></td>
                    <td>SƠ CẤP CỨU</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                </tr>
                <tr>
                    <td class="center-block txt-center"><input type="checkbox" /></td>
                    <td>GIẤY CHỨNG NHẬN TẬP HUẤN NGHIỆP VỤ</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                </tr>
                <tr>
                    <td class="center-block txt-center"><input type="checkbox" /></td>
                    <td>GIẤY CHỨNG NHẬN NHÂN VIÊN PHỤC VỤ HÀNH KHÁCH</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                </tr>
                <tr>
                    <td class="center-block txt-center"><input type="checkbox" /></td>
                    <td>GIẤY CHỨNG NHẬN LÁI XE PHÒNG THỦ</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                </tr>
                <tr>
                    <td class="center-block txt-center"><input type="checkbox" /></td>
                    <td>GIẤY XÁC NHẬN HUẤN LUYỆN AN TOÀN NỘI BỘ</td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                    <td><input type="date" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>