<div style="margin: 0 15px; height: 400px" ng-if="vm.person">
    <div ng-init="vm.initialize()" class="panel panel-default">
        <div class="panel-body row">
            <uib-tabset justified="true" style="margin:10px; width:100%;">
                <uib-tab index="0" heading="THÔNG TIN">
                    <div class="row mt-4">
                        <div class="col-lg-2 col-md-2">
                            <label for="dob">EMAIL:</label>
                            <input type="text" ng-model="vm.person.Email" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" placeholder="Địa chỉ email.." />
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <label for="dob">NGÀY SINH:</label>
                            <date-picker value="vm.person.DoB" format="dd/MM/yyyy"></date-picker>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <label for="placeOfBorn">NƠI SINH:</label>
                            <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.PlaceOfBirth"
                                    ng-options="l.Id as l.Name for l in vm.cities">
                            </select>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <label for="placeOfBorn">QUỐC TỊCH:</label>
                            <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.HomeTownId"
                                    ng-options="l.id as l.name for l in vm.countries">
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <label for="placeOfBorn">TÔN GIÁO:</label>
                            <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.ReligionId"
                                    ng-options="l.id as l.name for l in vm.religion">
                            </select>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <label for="placeOfBorn">DÂN TỘC:</label>
                            <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.NationId"
                                    ng-options="l.id as l.name for l in vm.nations">
                            </select>
                        </div>
                    </div>

                    <!-- row2: Address -->
                    <div class="row mt-4" style="margin: 0;">
                        <div class="col-md-6">
                            <div style="display: block">
                                <div class="row">
                                    <label for="">ĐỊA CHỈ THƯỜNG TRÚ:</label>
                                    <input style="width:95%;" type="text" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" placeholder="Địa Chỉ, Tên Đường..." ng-model="vm.personAddresses.address.Address" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding: 10px 5px 0 0;">
                                        <label for="">THÀNH PHỐ:</label>
                                        <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-change="vm.onChangeAddressCity()" ng-options="l.Id as l.Name for l in vm.cities" ng-model="vm.personAddresses.address.CityId"></select>
                                    </div>
                                    <div class="col-md-6" style="padding: 10px 0 0 5px;">
                                        <label  for="">QUẬN / HUYỆN:</label>
                                        <select ng-if="vm.addressDistricts" style="width:90%;" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-disabled="vm.personAddresses.address.CityId !=31 || vm.addressDistricts.length==1" ng-options="l.Id as l.Name for l in vm.addressDistricts" ng-model="vm.personAddresses.address.DistrictId"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div style="display: block">
                                <div class="row">
                                    <label for="">ĐỊA CHỈ LIÊN LẠC:</label>
                                    <input style="width:95%;" type="text" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" placeholder="Địa Chỉ, Tên Đường..." ng-model="vm.personAddresses.contactAddress.Address" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding: 10px 5px 0 0;">
                                        <label for="">THÀNH PHỐ:</label>
                                        <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-change="vm.onChangeAddressContactCity()" ng-options="l.Id as l.Name for l in vm.cities" ng-model="vm.personAddresses.contactAddress.CityId"></select>
                                    </div>
                                    <div class="col-md-6" style="padding: 10px 0 0 5px;">
                                        <label for="">QUẬN / HUYỆN:</label>
                                        <select ng-if="vm.addressContactDistricts" style="width:90%;" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-options="l.Id as l.Name for l in vm.addressContactDistricts" ng-disabled="vm.personAddresses.contactAddress.CityId != 31 || vm.addressContactDistricts.length == 1" ng-model="vm.personAddresses.contactAddress.DistrictId"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- row3: PhoneNumber-IdentificationCard -->
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <!--<div ng-include="'/AngularModules/HrModules/Templates/Sub-Tab-employeeInfo/PhoneNumberSubTab.html'"></div>-->
                            <div style="display: grid;">
                                <label>ĐIỆN THOẠI:</label>
                                <input type="text" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" name="phoneNumber" ng-model="vm.person.PhoneNumber" />
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <label for="dob">BỘ PHẬN:</label>
                            <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.DepartmentId" ng-options="l.id as l.name for l in vm.departments">
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <label for="dob">CHỨC VỤ:</label>
                            <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.RoleId" ng-options="l.id as l.name for l in vm.roles">
                            </select>
                        </div>
                    </div>

                    <!-- row4: Position -->
                    <div class="row mt-4">
                        <div class="col-lg-3 col-md-3">
                            <label for="dob">NGÀY VÀO HỆ THỐNG MLC:</label>
                            <!--<input type="date" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.MLCDate" />-->
                            <date-picker value="vm.person.MLCDate" format="dd/MM/yyyy"></date-picker>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <label for="dob">NGÀY VÀO CÔNG TY:</label>
                            <!--<input type="date" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" placeholder="..." ng-model="vm.person.StartDate" />-->
                            <date-picker value="vm.person.StartDate" format="dd/MM/yyyy"></date-picker>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <label>LƯƠNG HƯU TRÍ:</label>
                            <div class="w-100" style="margin-left: 20px;">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" value="true" ng-model="vm.person.IsPension" name="luonghuu" ng-disabled="vm.IsViewing">Có
                                </label>
                                <label class="form-check-label ml-4">
                                    <input type="radio" class="form-check-input" value="false" ng-model="vm.person.IsPension" checked name="luonghuu" ng-disabled="vm.IsViewing">Không
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <label>ĐÃ NGHỈ VIỆC:</label>
                            <div class="w-100" style="margin-left: 20px;">
                                <label class="form-check-label">
                                    <input type="radio" value="false" ng-model="vm.person.Actived" name="nghiviec" ng-disabled="vm.IsViewing">Đã Nghỉ
                                </label>
                                <label class="form-check-label ml-4">
                                    <input type="radio" value="true" ng-model="vm.person.Actived" name="nghiviec" ng-disabled="vm.IsViewing">Không
                                </label>
                            </div>
                        </div>


                    </div>

                    <div style="width:100%;" class="row mt-4">
                        <div class="col-md-12" ng-include="'/AngularModules/HrModules/Templates/Sub-Tab-employeeInfo/identificationCardSubTab.html'"></div>
                    </div>
                </uib-tab>

                <!--<uib-tab index="1" heading="ĐỊA CHỈ">
                </uib-tab>

                <uib-tab index="2" heading="SỐ ĐIỆN THOẠI">
                </uib-tab>

                <uib-tab index="3" heading="CMND/PASSPORT">
                </uib-tab>-->

                <uib-tab index="1" heading="HỢP ĐỒNG">
                    <div ng-include="'/AngularModules/HrModules/Templates/Sub-Tab-employeeInfo/contractSubTab.html'"></div>
                </uib-tab>

                <!--<uib-tab tabindex="2" heading="BHXH - BHTN">
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <label for="dob">SỐ SỔ BHXH:</label>
                                <input type="text" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" placeholder="" ng-model="vm.person.SINumber" />
                            </div>

                            <div class="col-lg-3 col-md-3">
                                <label for="dob">SỐ HỢP ĐỒNG BHTN:</label>
                                <input type="text" ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" placeholder="" ng-model="vm.person.SIContractNumber" />
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-6">
                                <label for="note">GHI NHẬN BÀN GIAO SỔ BHXH, BHTN:</label>
                                <textarea ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.person.SINote"></textarea>
                            </div>
                        </div>
                    </div>
                </uib-tab>-->

                <uib-tab index="2" heading="LỊCH SỬ NGHỈ VIỆC">
                    <div ng-include="'/AngularModules/HrModules/Templates/Sub-Tab-employeeInfo/quitJobHistories.html'"></div>
                </uib-tab>
            </uib-tabset>
        </div>

    </div>
</div>