<div style="margin: 15px;">
    <div class="row mb-2">
        <div class="col-lg-2">
            <label for="dob">NGÀY SINH:</label>
            <input type="date" class="form-control" />
        </div>

        <div class="col-lg-2">
            <label for="placeOfBorn">NƠI SINH:</label>
            <select class="form-control">
                <option value="1">Hồ Chí Minh</option>
                <option value="2">Hà Nội</option>
                <option value="3">Đà Nẵng</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="placeOfBorn">TÔN GIÁO:</label>
            <select class="form-control">
                <option value="1">Không</option>
                <option value="2">Phật Giáo</option>
                <option value="3">Thiên Chúa Giáo</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="placeOfBorn">DÂN TỘC:</label>
            <select class="form-control">
                <option value="1">Kinh</option>
                <option value="2">Ê-Đê</option>
                <option value="3">Hơ-Mông</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="placeOfBorn">QUỐC TỊCH:</label>
            <select class="form-control">
                <option value="1">Việt Nam</option>
                <option value="2">Thái Lan</option>
                <option value="3">USA</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="dob">NGÀY VÀO HỆ THỐNG MLC:</label>
            <input type="date" class="form-control" />
        </div>
    </div>

    <div class="row mb-2">

        <div class="col-lg-6">
            <label for="placeOfBorn">ĐỊA CHỈ THƯỜNG TRÚ:</label>
            <div class="w-100" style="display:inline-flex;">
                <input type="text" class="form-control" style="width:50%" placeholder="Địa Chỉ, Tên Đường..." />
                <select style="width:20%" class="form-control ml-1">
                    <option value="1">Hồ Chí Minh</option>
                    <option value="2">Hà Nội</option>
                </select>
                <select style="width:20%" class="form-control ml-1">
                    <option value="1">Quận 1</option>
                    <option value="2">Quận 2</option>
                </select>
            </div>
        </div>

        <div class="col-lg-6">
            <label for="placeOfBorn">ĐỊA CHỈ LIÊN LẠC:</label>
            <div class="w-100" style="display:inline-flex;">
                <input type="text" class="form-control" style="width:50%" placeholder="Địa Chỉ, Tên Đường..." />
                <select style="width:20%" class="form-control ml-1">
                    <option value="1">Hồ Chí Minh</option>
                    <option value="2">Hà Nội</option>
                </select>
                <select style="width:20%" class="form-control ml-1">
                    <option value="1">Quận 1</option>
                    <option value="2">Quận 2</option>
                </select>
            </div>
        </div>


    </div>

    <div class="row mb-2">
        <div class="col-lg-2">
            <label for="dob">ĐIỆN THOẠI:</label>
            <input type="text" class="form-control" placeholder="..." />
        </div>

        <div class="col-lg-2">
            <label for="dob">NGÀY VÀO CÔNG TY:</label>
            <input type="date" class="form-control" placeholder="..." />
        </div>

        <div class="col-lg-2">
            <label for="dob">BỘ PHẬN:</label>
            <select class="form-control">
                <option>Nhân Sự</option>
                <option>Điều Hành - Kinh Doanh</option>
                <option>Kế Toán</option>
                <option>Kỹ Thuật An Toàn</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="dob">CHỨC VỤ:</label>
            <select class="form-control">
                <option>Giám Đốc</option>
                <option>Trưởng Phòng</option>
                <option>Nhân Viên</option>
                <option>Thư Ký</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="dob">SỐ SỔ BHXH:</label>
            <input type="text" class="form-control" placeholder="..." />
        </div>

        <div class="col-lg-2">
            <label for="dob">SỐ HĐ BHTN:</label>
            <input type="text" class="form-control" placeholder="..." />
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-2">
            <label for="placeOfBorn">LOẠI HỢP ĐỒNG:</label>
            <select class="form-control">
                <option value="1">Có Thời Hạn</option>
                <option value="2">Vô Thời Hạn</option>
                <option value="3">Thời Vụ</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="placeOfBorn">THỜI HẠN HỢP ĐỒNG:</label>
            <select class="form-control">
                <option value="1">1 Tháng</option>
                <option value="2">6 Tháng</option>
                <option value="3">1 Năm</option>
                <option value="3">Vô Thời Hạn</option>
            </select>
        </div>

        <div class="col-lg-2">
            <label for="dob">NGÀY KÝ HỢP ĐỒNG:</label>
            <input type="date" class="form-control" />
        </div>

        <div class="col-lg-2">
            <label for="dob">NGÀY HẾT HẠN HỢP ĐỒNG:</label>
            <input type="text" class="form-control" value="01/01/2020" disabled />
        </div>

        <div class="col-lg-2">
            <label>LƯƠNG HƯU TRÍ:</label>
            <div class="w-100 ml-4">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="luonghuu">Có
                </label>
                <label class="form-check-label ml-4">
                    <input type="radio" class="form-check-input" name="luonghuu">Không
                </label>
            </div>
        </div>

        <div class="col-lg-2">
            <label>ĐÃ NGHỈ VIỆC:</label>
            <div class="w-100 ml-4">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="nghiviec">Đã Nghỉ
                </label>
                <label class="form-check-label ml-4">
                    <input type="radio" class="form-check-input" name="nghiviec">Không
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-12">
            <label for="note">GHI NHẬN BÀN GIAO SỔ BHXH, BHTN:</label>
            <textarea class="form-control"></textarea>
        </div>
    </div>

      


</div>