<div ng-init="vm.initialize()">
    <h5>DANH SÁCH NHÂN VIÊN LÁI XE</h5>
    <div class="w-100" style="float:right; margin-top:20px; margin-bottom:10px;">
        <div class="input-group" style="width:50%;">
            <input type="text" class="form-control bg-light small" ng-change="vm.filter()" ng-model="vm.filterText" placeholder="Tìm kiếm ..." aria-label="Search" aria-describedby="basic-addon2">
           
        </div>
    </div>

    <div>
        <table class="table table-bordered table-hover">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <th style="width: 2%;"></th>
                    <th style="width: 5%">Mã NV</th>
                    <!--<th style="width: 3%;">Ảnh</th>-->
                    <th style="width: 5%;">Họ</th>
                    <th style="width: 10%;">Tên</th>
                    <th style="width: 10%;">Ngày Sinh</th>
                    <th style="width: 10%;">Điện Thoại</th>
                    <th style="width: 10%;">Ngày Vào Cty</th>
                    <th style="width: 5%;">Chức Vụ</th>
                    <th style="width: 10%;">HDLD/HDHT</th>
                    <th style="width: 5%;">Thời Hạn HĐ</th>
                    <th style="width: 10%;">Ngày Hết Hạn HĐ</th>
                    <th style="width: 10%;">Ngày Nghỉ Việc</th>
                </tr>
            </thead>
            <tbody class="txt-center">
                <tr ng-repeat="row in vm.employees | filter:lookup" ng-click="vm.rowClick(row)">
                    <td><input type="checkbox" class="mt-2" ng-change="vm.checkSelected()" ng-model="row.IsSelected" /></td>
                    <td>{{row.EmpCode}}</td>
                    <!--<td><img class="circle-img" style="height:45px;" src="../../../Content/Images/{{row.picture}}" /></td>-->
                    <td style="width: 10%;">{{row.FirstName}}</td>
                    <td style="width: 10%;">{{row.LastName}}</td>
                    <td style="width: 10%;">{{row.dobDisplay}}</td>
                    <td style="width: 5%;">{{row.PhoneNumber}}</td>
                    <td style="width: 10%;">{{row.StartDateDisplay}}</td>
                    <td style="width: 10%;">{{row.Role}}</td>
                    <td style="width: 10%;">{{row.ContractNumber}}</td>
                    <td style="width: 5%;">{{row.ContractDuration}}</td>
                    <td style="width: 10%;">{{row.expired}}</td>
                    <td style="width: 10%;"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary mr-1" data-toggle="modal" data-target="#CreatePerson">
            <i class="fas fa-fw fa fa-plus"></i> THÊM MỚI
        </button>
        <button class="btn btn-outline-success mr-1" ng-disabled="!vm.CanEdit" ng-click="vm.gotoEdit()">
            <i class="fas fa-fw fa-pen"></i> CHỈNH SỬA
        </button>
        <button class="btn btn-outline-info mr-1" ng-disabled="!vm.CanEdit" ng-click="vm.gotoView()">
            <i class="fas fa-fw fa-street-view"></i> XEM
        </button>
    </div>

    <!--Modal Create Employee  -->
    <div class="modal fade" id="CreatePerson" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalTitle">Thêm Nhân Viên Mới</h5>
                    <button type="button" class="modal-btnClose close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="err-message" ng-if="vm.message">{{vm.message}}</p>
                    <form class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="firstName">HỌ: <span class="required_ico">*</span> </label>
                                <input name="firstName" class="form-control" type="text" ng-model="vm.createModel.firstName" ng-change="vm.checkValidCreate()" />
                            </div>
                            <div class="col-md-6">
                                <label for="lastName">TÊN ĐỆM VÀ TÊN: <span class="required_ico">*</span></label>
                                <input name="lastName" class="form-control" type="text" ng-model="vm.createModel.lastName" ng-change="vm.checkValidCreate()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="userName">TÊN ĐĂNG NHẬP: <span class="required_ico">*</span> </label>
                                <input name="userName" class="form-control" type="text" ng-model="vm.createModel.userName" ng-change="vm.checkValidCreate()" />
                            </div>
                            <div class="col-md-6">
                                <label for="lastName">GIỚI TÍNH: <span class="required_ico">*</span></label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" name="gender" class="form-check-input"  value="true" ng-checked="vm.createModel.isMale" ng-model="vm.createModel.isMale" checked/> Nam
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" name="gender" value="false" ng-checked="!vm.createModel.isMale" ng-model="vm.createModel.isMale" class="form-check-input" /> Nữ
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="userId">Mã Nhân Viên: <span class="required_ico">*</span> </label>
                                <input name="userId" maxlength="6" class="form-control" ng-change="vm.checkValidEmployeeCode()" type="text" ng-model="vm.createModel.employeeCode" />
                                <span style="width:100%;" ng-if="!vm.isValidEmployeeCode" class="required_ico">{{vm.checkEmployeeCodeMessage}}</span>
                                <span style="width:100%; color:green;" ng-if="vm.isValidEmployeeCode" >{{vm.checkEmployeeCodeMessage}}</span>

                            </div>
                            <div class="col-md-6">
                                <button style="margin-top:30px;" class="btn btn-outline-primary" ng-disabled="vm.createModel.employeeCode =='' || !vm.employeeCodeIsNumber || vm.createModel.employeeCode.length !=6" ng-click="vm.checkEmployeeCode()">Kiểm Tra Mã Nhân Viên</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">HỦY BỎ</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.createSimplePerson()" ng-disabled="!vm.createValid ||!vm.isValidEmployeeCode">LƯU</button>
                </div>
            </div>
        </div>
    </div>
</div>

