<div style="margin:10px;">
    <table class="table table-hover mt-5">
        <thead class="thead-light shadow_tb txt-center">
            <tr>
                <th style="width:10%;"> MÃ THIẾT BỊ</th>
                <th style="width:50%;"> TÊN THIẾT BỊ</th>
                <th style="width:10%;"> ĐÃ CẤP</th>
                <th style="width:30%;"> NGÀY CẤP</th>
            </tr>
        </thead>
        <tbody class="txt-center">
            <tr>
                <td>1</td>
                <td>DÙ</td>
                <td><input type="checkbox" /></td>
                <td><input type="date" class="form-control" /></td>
            </tr>
            <tr>
                <td>2</td>
                <td>TÚI XÁCH</td>
                <td><input type="checkbox" /></td>
                <td><input type="date" class="form-control" /></td>
            </tr>
            <tr>
                <td>3</td>
                <td>BÌA TRÌNH KÝ</td>
                <td><input type="checkbox" /></td>
                <td><input type="date" class="form-control" /></td>
            </tr>
            <tr>
                <td>4</td>
                <td>SIM ĐIỆN THOẠI</td>
                <td><input type="checkbox" /></td>
                <td><input type="date" class="form-control" /></td>
            </tr>
        </tbody>
    </table>
</div>