<div ng-controller="equipmentController as vm" ng-init="vm.initialize()"style="margin:10px;">
    <table class="table table-hover mt-5">
        <thead class="thead-light shadow_tb txt-center">
            <tr>
                <th style="width:10%;"> MÃ THIẾT BỊ</th>
                <th style="width:50%;"> TÊN THIẾT BỊ</th>
                <th style="width:10%;"> ĐÃ CẤP</th>
                <th style="width:30%;"> NGÀY CẤP</th>
            </tr>
        </thead>
        <tbody class="txt-center">
            <tr ng-repeat="row in vm.equipments" >
                <td>{{row.equipmentId}}</td>
                <td>{{row.name}}</td>
                <td><input type="checkbox" ng-model="row.isReceive"/></td>
                <td><input type="date" class="form-control" ng-disabled="!row.isReceive" ng-model="row.receivedDate" /></td>
            </tr>
        </tbody>
    </table>
</div>