<div style="margin:15px;">
    <button class="btn btn-primary mt-4 mb-2 float-right"><i class="fas fa-fw fa-plus"></i> THÊM MỚI</button>

    <table class="table table-hover">
        <thead class="thead-light shadow_tb txt-center">
            <tr>
                <th style="width:10%;">NĂM</th>
                <th style="width:35%;">TIÊU CHUẨN KHÁM</th>
                <th style="width:40%;">GHI CHÚ</th>
                <th style="width:10%;"></th>
            </tr>
        </thead>
        <tbody class="txt-center">
            <tr>
                <td class="center-block">2016</td>
                <td>Thông Tư 24<br />Thông Tư 14</td>
                <td>Bình Thường</td>
                <td>
                    <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                    <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>2017</td>
                <td>Đặc Thù Theo KH</td>
                <td>
                    Khám Tổng Quát <br />Mắt Cận : T0,5/P1
                </td>
                <td>
                    <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                    <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                </td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>