<div ng-controller="marriageController as vm" ng-init="vm.initialize()" style="margin:10px;">
    <div class="row mt-2">
        <div class="col-lg-4 col-md-4">
            <label>TÌNH TRẠNG HÔN NHÂN:</label>
            <select ng-model="vm.marriageStatusObject.marritalStatusId" class="form-control"
                    ng-options="ms.Id as ms.Name for ms in vm.mariageStatuses">
                <option value="">--Tình Trạng Hôn Nhân--</option>
            </select>
        </div>
    </div>

    <div class="row txt-right">
        <div class="col-lg-12 col-md-12">
            <button class="btn btn-outline-primary mt-2 mb-2 mr-1" data-toggle="modal" data-target="#relativeModal" ng-click="vm.addNewRelative()" ng-disabled="vm.IsViewing">
                <i class="fas fa-fw fa-plus"></i> THÊM NGƯỜI THÂN
            </button>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-light shadow_tb txt-center">
            <tr>
                <th style="width:15%;">HỌ VÀ TÊN</th>
                <th style="width:10%;">NĂM SINH</th>
                <th style="width:20%;">NƠI Ở</th>
                <th style="width:10%;">QUAN HỆ</th>
                <th style="width:5%;">PHỤ THUỘC</th>
                <th style="width:10%;">THỜI GIAN BẮT ĐẦU</th>
                <th style="width:10%;">THỜI GIAN KẾT THÚC</th>
                <th style="width:5%;">ĐÃ MẤT</th>
                <th style="width:13%;"></th>
            </tr>
        </thead>
        <tbody class="txt-center">
            <tr ng-repeat="r in vm.personRelations">
                <td>{{r.FullName}}</td>
                <td>{{r.YearOfBirth}}</td>
                <td>{{r.Address}}</td>
                <td>{{r.RelationName}}</td>
                <td><i class="fas fa-fw fa-check-circle" ng-style="vm.checkIsDependent(r.IsDependent)"></i></td>
                <td>{{r.DependentStart | date: 'dd/MM/yyyy'}}</td>
                <td>{{r.DependentEnd | date: 'dd/MM/yyyy'}}</td>
                <td><i class="fas fa-fw fa-times-circle"></i></td>
                <td>
                    <button class="btn btn-outline-success" data-toggle="modal" data-target="#relativeModal" ng-click="vm.editRelative(r)" ng-disabled="vm.IsViewing"><i class="fas fa-fw fa-pen"></i></button>
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteRModal" ng-click="vm.openDelModel(r)" ng-disabled="vm.IsViewing"><i class="fas fa-fw fa-trash"></i></button>
                </td>
            </tr>

        </tbody>
    </table>

    <!--Relative Modal -->
    <div class="modal fade" id="relativeModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalTitle">Người Thân</h5>
                    <button type="button" class="modal-btnClose close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="err-message" ng-if="vm.message">{{vm.message}}</p>
                    <form class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Mối quan hệ: <span class="required_ico">*</span></label>
                                <select ng-model="vm.personRelationship.RelationshipId" class="form-control"
                                        ng-options="r.Id as r.Name for r in vm.RelationShipTypes"></select>
                            </div>
                            <div class="col-md-4">
                                <label for="relativeName">Họ và tên: <span class="required_ico">*</span></label>
                                <input name="relativeName" class="form-control" type="text" placeholder="Họ & Tên" ng-model="vm.personRelationship.FullName" ng-change="vm.checkValid()" />
                            </div>
                            <div class="col-md-4">
                                <label for="dob">Năm Sinh: <span class="required_ico">*</span></label>
                                <input name="yearOfbirth" class="form-control" type="number" min="1900" placeholder="1900" ng-model="vm.personRelationship.YearOfBirth" ng-change="vm.checkValid()" />

                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label style="display: inline-flex;vertical-align: -webkit-baseline-middle;">
                                    <input type="checkbox" ng-model="vm.personRelationship.IsDependent" />&nbsp;&nbsp;Người phụ thuộc
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label style="display: inline-flex;vertical-align: -webkit-baseline-middle;">
                                    <input type="checkbox" ng-model="vm.personRelationship.IsDead" />&nbsp;&nbsp;Đã mất
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.personRelationship.IsDependent">
                            <div class="col-md-6">
                                <label for="StartDate">Thời gian bắt đầu: <span class="required_ico">*</span></label>
                                <!--<input name="StartDate" class="form-control" type="date" min="1900" ng-model="vm.personRelationship.DependentStart" ng-change="vm.checkValid()" />-->
                                <date-picker value="vm.personRelationship.DependentStart" format="dd/MM/yyyy"></date-picker>
                            </div>
                            <div class="col-md-6">
                                <label for="EndDate">Thời gian kết thúc: <span class="required_ico">*</span></label>
                                <!--<input name="EndDate" class="form-control" type="date" min="1900" ng-model="vm.personRelationship.DependentEnd" ng-change="vm.checkValid()" />-->
                                <date-picker value="vm.personRelationship.DependentEnd" format="dd/MM/yyyy"></date-picker>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="address">Địa chỉ: <span class="required_ico">*</span></label>
                                <input name="address" class="form-control" type="text" placeholder="..." ng-model="vm.personRelationship.Address" ng-change="vm.checkValid()" />
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.saveRelative(vm.personRelationship);" ng-disabled="!vm.isValid">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Relative Modal -->
    <div class="modal fade" id="DeleteRModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Bạn có muốn xóa người này?</p>
                    <p>{{vm.relativeDel.FullName}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.deleteRelationShip(vm.relativeDel)">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>