<div ng-controller="marriageController as vm" ng-init="vm.initialize()" style="margin:10px;">
    <div class="row mt-2">
        <div class="col-lg-4 col-md-4">
            <select class="form-control">
                <option ng-repeat="row in vm.marritalStatuss">{{row.name}}</option>
            </select>
        </div>
    </div>

    <div class="row txt-right">
        <div class="col-lg-12 col-md-12">
            <button class="btn btn-primary mt-2 mb-2 mr-1"><i class="fas fa-fw fa-plus"></i> THÊM NGƯỜI THÂN</button>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-light shadow_tb txt-center">
            <tr>
                <th style="width:25%;">HỌ VÀ TÊN</th>
                <th style="width:15%;">NGÀY SINH</th>
                <th style="width:25%;">NƠI Ở</th>
                <th style="width:10%;">QUAN HỆ</th>
                <th style="width:10%;">ĐÃ MẤT</th>
                <th style="width:12%;"></th>
            </tr>
        </thead>
        <tbody class="txt-center">
            <tr ng-repeat="fm in vm.familyMembers">
                <td>{{fm.memberName}}</td>
                <td>{{fm.dob}}</td>
                <td>{{fm.address}}</td>
                <td>{{fm.relationship}}</td>
                <td><i class="fas fa-fw fa-times-circle"></i></td>
                <td>
                    <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                    <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>