<div style="margin:10px;">
    <button class="btn btn-primary mt-4 mb-2 mr-1 float-right"><i class="fas fa-fw fa-plus"></i>THÊM MỚI</button>

    <table class="table table-hover">
        <thead class="thead-light shadow_tb txt-center">
            <tr>
                <th style="width:20%;"> TỪ NGÀY</th>
                <th style="width:20%;"> ĐẾN NGÀY</th>
                <th style="width:40%;"> ĐƠN VỊ CÔNG TÁC</th>
                <th style="width:10%;"></th>
            </tr>
        </thead>
        <tbody class="txt-center">
            <tr>
                <td>01/01/2016</td>
                <td>12/12/2018</td>
                <td>Công Ty TNHH MTV ABC</td>
                <td>
                    <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                    <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>01/01/2019</td>
                <td>30/05/2019</td>
                <td>Công Ty TNHH MTV DEF</td>
                <td>
                    <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                    <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                </td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>