<div ng-controller="workingHistoriesController as vm" style="margin:10px;">
    <div ng-init="vm.initialize()">
        <button class="btn btn-primary mt-4 mb-2 mr-1 float-right" data-toggle="modal" data-target="#addWhModal">
            <i class="fas fa-fw fa-plus"></i> THÊM MỚI
        </button>

        <table class="table table-hover">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <th style="width:20%;">TỪ NGÀY</th>
                    <th style="width:20%;">ĐẾN NGÀY</th>
                    <th style="width:40%;">ĐƠN VỊ CÔNG TÁC</th>
                    <th style="width:10%;"></th>
                </tr>
            </thead>
            <tbody class="txt-center">
                <tr ng-repeat="row in vm.workingHistories">
                    <td>{{row.startDate}}</td>
                    <td>{{row.endDate}}</td>
                    <td>{{row.companyName}}</td>
                    <td>
                        <button class="btn btn-outline-success"><i class="fas fa-fw fa-pen"></i></button>
                        <button class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i></button>
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>


        <!--Add Modal -->
        <div class="modal fade" id="addWhModal" tabindex="-1" role="dialog" aria-labelledby="addWhModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addWhModalTitle">Thêm mới lịch sử công tác</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-group">
                            <div class="row">
                                <span class="col-md-6">
                                    <label>Từ ngày: </label>
                                    <input class="form-control" type="text" placeholder="dd/mm/yyyy" ng-model="newWh.startDate" />
                                </span>
                                <span class="col-md-6">
                                    <label>Đến ngày: </label>
                                    <input class="form-control" type="text" placeholder="dd/mm/yyyy" ng-model="newWh.endDate" />
                                </span>
                            </div>
                            <div>
                                <label>Đơn vị công tác</label>
                                <input class="form-control" type="text" placeholder="Tên đơn vị công tác..." ng-model="newWh.companyName" />
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addWorkingHistory(newWh)">Tạo mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>