<h3>CHỈNH SỬA THÔNG TIN PHƯƠNG TIỆN</h3>

<div class="panel panel-default ">
    <div class="panel-body row">
        <uib-tabset justified="true" style="margin-left:10px; width:100%;">
            <uib-tab index="0" heading="LÝ LỊCH PHƯƠNG TIỆN">
                <div ng-include="'/AngularModules/Vehicle/Templates/VehicleInfo.html'"></div>
            </uib-tab>
            <uib-tab index="1" heading="GIẤY TỜ XE">
                <div ng-include="'/AngularModules/Vehicle/Templates/VehicleDocuments.html'"></div>
            </uib-tab>
            <uib-tab index="2" heading="BÀN GIAO XE">
                <div ng-include="'/AngularModules/Vehicle/Templates/VehicleLoanManagement.html'"></div>
            </uib-tab>
            <uib-tab index="3" heading="TRANG THIẾT BỊ">
                <div ng-include="'/AngularModules/Vehicle/Templates/VehicleEquipments.html'"></div>
            </uib-tab>
            <uib-tab index="4" heading="NHIÊN LIỆU">
                <div ng-include="'/AngularModules/Vehicle/Templates/VehicleFuelManagement.html'"></div>
            </uib-tab>
            <uib-tab index="5" heading="GPS">
                <div ng-include="'/AngularModules/Vehicle/Templates/GPS.html'"></div>
            </uib-tab>
            <uib-tab index="6" heading="BẢO TRÌ - SỬA CHỬA">
                <div ng-include="'/AngularModules/Vehicle/Templates/VehicleMaintainManagement.html'"></div>
            </uib-tab>
            <uib-tab index="7" heading="VA CHẠM - TAI NẠN">
                <div ng-include="'/AngularModules/Vehicle/Templates/VehicleAcidentsManagement.html'"></div>
            </uib-tab>
        </uib-tabset>

    </div>
</div>

<div class="row" style="float:right; margin: 20px 10px 20px 0;  ">
    <button class="btn btn-outline-success" style="height: 50px; width:200px; margin-right: 20px;">LƯU THAY ĐỔI</button>
    <button class="btn btn-outline-danger" style="height: 50px; width:200px;">HỦY BỎ</button>
</div>