<div ng-controller="vehicleLoanController as vm" ng-init="vm.initialize()" class="mt-4" style="margin:10px">
    <table class="table table-bordered table-hover col-md-12">
        <thead class="thead-light shadow_tb txt-center">
            <tr>
                <th colspan="3">LÁI XE / KHÁCH HÀNG TỰ LÁI</th>
                <th colspan="3">NHẬN XE</th>
                <th colspan="3">TRẢ XE</th>
                <th rowspan="2">GHI CHÚ</th>
            </tr>
            <tr>
                <th style="width:8%;">MÃ SỐ</th>
                <th style="width:14%;">HỌ TÊN</th>
                <th style="width:10%;">ĐIỆN THOẠI</th>
                <th style="width:13%;">NGÀY GIỜ</th>
                <th style="width:10%;">KM NHẬN </th>
                <th style="width:7%;">MỨC NHIÊN LIỆU</th>
                <th style="width:13%;">NGÀY GIỜ</th>
                <th style="width:10%;">KM TRẢ</th>
                <th style="width:7%;">MỨC NHIÊN LIỆU</th>
            </tr>
        </thead>
        <tbody class="txt-center">
            <tr ng-repeat="row in vm.vehicleLoans">
                <td>{{row.employeeId}}</td>
                <td>{{row.employeeName}}</td>
                <td>{{row.phoneNumber}}</td>
                <td class="txt-left">
                    <label>Ngày:</label>
                    <input type="text" class="form-control" ng-model="row.receive.receivedDate" />
                    <br />
                    <label>Giờ:</label>
                    <input type="text" class="form-control" ng-model="row.receive.receivedTime" />
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="row.receive.receivedKM" />
                </td>
                <td>
                    <select class="form-control" 
                            ng-model="row.receive.receivedFuelId"
                            ng-options="f.lvId as f.lvName for f in vm.fuelLevels">
                    </select>
                </td>
                <td class="txt-left">
                    <label>Ngày:</label>
                    <input type="text" class="form-control" ng-model="row.giveback.givebackDate" />
                    <br />
                    <label>Giờ:</label>
                    <input type="text" class="form-control" ng-model="row.giveback.givebackTime" />
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="row.giveback.givebackKM" />
                </td>
                <td>
                    <select class="form-control"
                            ng-model="row.giveback.givebackFuelId"
                            ng-options="f.lvId as f.lvName for f in vm.fuelLevels">
                    </select>
                </td>
                <td style="padding:0;">
                    <input type="file" style="width: 100%;  margin: 1px;" ng-model="row.note" />
                </td>
            </tr>
        </tbody>
    </table>

</div>