<div ng-init="vm.initialize()">
    <h5>DANH SÁCH PHƯƠNG TIỆN</h5>
    <div class="w-100" style="float:right; margin-top:30px; margin-bottom:10px;">
        <div class="input-group" style="width:50%;">
            <input type="text" class="form-control bg-light small" ng-change="vm.filter()" ng-model="vm.filterText" placeholder="Tìm kiếm ..." aria-label="Search" aria-describedby="basic-addon2">
            <!--<div class="input-group-append">
    <!--<div class="input-group-append">
        <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
        </button>
    </div>-->
        </div>
    </div>
    <div class="mt-4">
        <table class="table table-bordered table-hover">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <th rowspan="2" style="width: 2%;"></th>
                    <th rowspan="2" style="width:2%">STT</th>
                    <th rowspan="2" style="width: 7%;">HIỆU XE</th>
                    <th rowspan="2" style="width: 5%;">SỐ CHỔ</th>
                    <th rowspan="2" style="width: 5%;">NĂM SẢN XUẤT</th>
                    <th rowspan="2" style="width: 5%;">MÀU XE</th>
                    <th rowspan="2" style="width: 10%;">LOẠI HÌNH KD</th>
                    <th rowspan="2" style="width: 10%;">VÙNG HOẠT ĐỘNG</th>
                    <th colspan="2" style="width: 20%;">NGÀY NHẬP XE</th>
                    <th colspan="2" style="width: 20%;">NGÀY THANH LÝ</th>
                    <th rowspan="2" style="width: 15%;">SỐ KM BẢO DƯỠNG</th>
                </tr>
                <tr>
                    <th>NGÀY NHẬP</th>
                    <th>GHI CHÚ</th>
                    <th>NGÀY THANH LÝ</th>
                    <th>GHI CHÚ</th>
                </tr>

            </thead>
            <tbody class="txt-center">
                <tr ng-repeat="row in vm.vehicles" ng-click="vm.rowClick(row)">
                    <td><input type="checkbox" ng-change="vm.checkSelected()" ng-model="row.IsSelected" /></td>
                    <td>{{row.id}}</td>
                    <td>{{row.brandName}}</td>
                    <td>{{row.seats}}</td>
                    <td>{{row.productYear}}</td>
                    <td>{{row.color}}</td>
                    <td>{{row.type}}</td>
                    <td>{{row.workingZone}}</td>
                    <td>{{row.income.incomeDate}}</td>
                    <td>{{row.income.incomeNote}}</td>
                    <td>{{row.outcome.outcomeDate}}</td>
                    <td>{{row.outcome.outcomeNote}}</td>
                    <td>{{row.maintainKM}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary mr-1" ng-click="vm.add()">
            <i class="fas fa-fw fa fa-plus"></i> THÊM MỚI
        </button>
        <button class="btn btn-outline-success mr-1" ng-disabled="!vm.CanEdit" ng-click="vm.gotoEdit(1)">
            <i class="fas fa-fw fa-pen"></i> CHỈNH SỬA
        </button>
        <button class="btn btn-outline-danger" ng-disabled="!vm.CanDelete" ng-click="vm.remove()">
            <i class="fas fa-fw fa-trash"></i> XÓA
        </button>
    </div>
</div>
