<div ng-controller="vehicleEquipmentsController as vm" id="vehicleEquipments">
    <div ng-init="vm.initialize()">
        <div class="row" style="margin:10px;">
            <table class="table table-bordered table-hover">
                <thead class="thead-light shadow_tb">
                    <tr>
                        <th colspan="6">
                            TRANG THIẾT BỊ THEO XE
                        </th>
                    </tr>
                    <tr>
                        <th style="width:20%;">TÊN TRANG THIẾT BỊ</th>
                        <th style="width:10%;">THEO YÊU CẦU</th>
                        <th style="width:20%;">NGÀY CẤP CỦA HC</th>
                        <th style="width:20%;">NGÀY HẾT HẠN</th>
                        <th style="width:20%;">NGÀY GIAO THEO XE</th>
                        <th style="width:10%;">TÌNH TRẠNG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.vehicleEquipments">
                        <td>{{row.vehicleName}}</td>
                        <td>
                            <select class="form-control" ng-model="vm.requestBys.requestById"
                                    ng-options="rq.requestById as rq.requestByName for rq in vm.requestBys">
                            </select>
                        </td>
                        <td><input id="recievedDate" type="date" class="form-control" ng-model="vm.vehicleEquipments.recievedDate" /></td>
                        <td><input id="expDate" type="date" class="form-control" ng-model="vm.vehicleEquipments.expDate" /></td>
                        <td><input id="deliveryDateByCar" type="date" class="form-control" ng-model="vm.vehicleEquipments.deliveryDateByCar" /></td>
                        <td><input id="status" type="text" class="form-control" ng-model="vm.vehicleEquipments.status" /></td>
                    </tr>
                </tbody>
                  
                
            </table>
        </div>
    </div>
</div>