<style>
    table th {
        font-size: 12px;
        background-color: cornflowerblue;
        color: white;
        text-align: center;
    }

    table td {
        font-size: 12px;
    }

    button {
        border-radius: 0;
    }

    .w200 {
        width: 100px;
        font-size: 14px;
    }

    .w100p {
        width: 100%;
    }
</style>
<div class="row" style="width:100%; margin-left:10px; margin-right:10px;">
      <table class="table table-bordered table-striped" style="width:98%;" >
          <thead>
              <tr>
                  <th colspan="6">
                      TRANG THIẾT BỊ THEO XE
                  </th>
              </tr>
              <tr>
                  <th style="width:20%;">TÊN TRANG THIẾT BỊ</th>
                  <th style="width:10%;">THEO YÊU CẦU</th>
                  <th style="width:20%;">NGÀY CẤP CỦA HC</th>
                  <th style="width:20%;">NGÀY HẾT HẠN</th>
                  <th style="width:20%;">NGÀY GIAO THEO XE</th>
                  <th style="width:10%;">TÌNH TRẠNG</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>TÚI Y TẾ</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
              <tr>
                  <td>DANH SÁCH THUỐC/DỤNG CỤ Y TẾ</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
              <tr>
                  <td>ÁO PHẢN QUANG</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
              <tr>
                  <td>TAM GIÁC CẢNH BÁO</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
              <tr>
                  <td>BÚA THOÁT HIỂM</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
              <tr>
                  <td>ĐÈN PIN CHIẾU SÁNG</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
              <tr>
                  <td>LƯỚI TRÙM</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
              <tr>
                  <td>BÌNH CHỮA CHÁY</td>
                  <td>
                      <select class="form-control">
                          <option>NN</option>
                          <option>KH</option>
                          <option>CTY</option>
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="date" class="form-control" />
                  </td>
                  <td>
                      <input type="text" class="form-control" />
                  </td>
              </tr>
          </tbody>
      </table>
</div>