<style>
    table th {
        font-size: 12px;
        background-color: cornflowerblue;
        color: white;
        text-align: center;
    }

    table td {
        font-size: 12px;
    }

    button {
        border-radius: 0;
    }

    .w200 {
        width: 100px;
        font-size: 14px;
    }

    .w100p {
        width: 100%;
    }
</style>

<div class="w100p">
    <div class="row" style="width:100%;">
        <div class="col-lg-6" style="float:left;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4" style="text-align:center">CAVET XE</th>
                    </tr>
                    <tr>
                        <th rowspan="2">ĐĂNG KÝ</th>
                        <th colspan="3">NGÂN HÀNG</th>
                    </tr>
                    <tr>
                        <th>TÊN NGÂN HÀNG</th>
                        <th>NGƯỜI PHỤ TRÁCH</th>
                        <th>THỜI HẠN BẢN SAO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-control">
                                <option>BẢN CHÍNH</option>
                                <option>SAO Y NGÂN HÀNG</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="text" value="VIETCONBANK" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="01644202279" />
                        </td>
                        <td>
                            <input type="date" class="form-control" value="2020-05-12" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-3" style="float:left;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            THỜI HẠN KIỂM ĐỊNH
                        </th>
                    </tr>
                    <tr>
                        <th>KINH DOANH(XANH)</th>
                        <th>KHÔNG KINH DOANH(VÀNG)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="date" class="form-control" value="2020-06-19" />
                        </td>
                        <td>
                            <input type="date" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-3" style="float:left;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            THỜI HẠN PHÍ SỬ DỤNG ĐƯỜNG BỘ
                        </th>
                    </tr>
                    <tr>
                        <th>NGÀY HẾT HẠN</th>
                        <th>SỐ THÁNG ĐÓNG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="date" class="form-control" value="2020-06-19" />
                        </td>
                        <td>
                            <input type="number" class="form-control" value="24" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="width:100%;">
        <div class="col-lg-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">BẢO HIỂM DÂN SỰ</th>
                    </tr>
                    <tr>
                        <th>NGÀY HẾT HẠN</th>
                        <th>TÊN CTY BẢO HIỂM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="date" class="form-control" value="2020-10-10" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="PVI" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">BẢO HIỂM VẬT CHẤT</th>
                    </tr>
                    <tr>
                        <th rowspan="2">NGÀY HẾT HẠN</th>
                        <th rowspan="2">TÊN CTY BẢO HIỂM</th>
                        <th colspan="2">LƯU GIỮ BẢN CHÍNH</th>
                    </tr>
                    <tr>
                        <th>NỘI BỘ</th>
                        <th>BÊN NGOÀI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="date" class="form-control" value="2020-09-11" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="BH Bảo Long" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">
            <label>THỜI HẠN PHÙ HIỆU HỢP ĐỒNG:</label>
            <input type="date" class="form-control" />
        </div>
    </div>
    <div class="row" style="width:100%; margin-left:5px;">
        <label>GHI CHÚ:</label>
        <textarea style="height:200px;" class="form-control">

        </textarea>
    </div>
</div>