<div ng-init="vm.initialize()">
    <h3>DANH SÁCH PHƯƠNG TIỆN</h3>
    <div class="w-100" style="float:right; margin-top:30px; margin-bottom:10px;">
        <div class="input-group" style="width:50%;">
            <input type="text" class="form-control bg-light small" placeholder="Tìm kiếm ..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </div>
    <div>

        <table class="table table-bordered table-hover">
            <thead class="thead-light shadow_tb">
                <tr>
                    <th rowspan="2" style="width: 2%;"></th>
                    <th rowspan="2" style="width:2%">STT</th>
                    <th rowspan="2" style="width: 7%;">HIỆU XE</th>
                    <th rowspan="2" style="width: 5%;">SỐ CHỔ</th>
                    <th rowspan="2" style="width: 5%;">NĂM SẢN XUẤT</th>
                    <th rowspan="2" style="width: 5%;">MÀU XE</th>
                    <th rowspan="2" style="width: 10%;">LOẠI HÌNH KD</th>
                    <th rowspan="2" style="width: 10%;">VÙNG HOẠT ĐỘNG</th>
                    <th colspan="2" style="width: 20%;">NGÀY NHẬP XE</th>
                    <th colspan="2" style="width: 20%;">NGÀY THANH LÝ</th>
                    <th rowspan="2" style="width: 15%;">SỐ KM BẢO DƯỠNG</th>
                </tr>
                <tr>
                    <th>NGÀY NHẬP</th>
                    <th>GHI CHÚ</th>
                    <th>NGÀY THANH LÝ</th>
                    <th>GHI CHÚ</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="row in vm.vehicles">
                    <td><input type="checkbox" ng-model="row.selected" /></td>
                    <td>{{row.id}}</td>
                    <td>{{row.brandName}}</td>
                    <td>{{row.seats}}</td>
                    <td>{{row.productYear}}</td>
                    <td>{{row.color}}</td>
                    <td>{{row.type}}</td>
                    <td>{{row.workingZone}}</td>
                    <td>{{row.income.incomeDate}}</td>
                    <td>{{row.income.incomeNote}}</td>
                    <td>{{row.outcome.outcomeDate}}</td>
                    <td>{{row.outcome.outcomeNote}}</td>
                    <td>{{row.maintainKM}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-primary mr-1 w200 " ng-click="vm.add()">THÊM MỚI</button>
        <button class="btn btn-outline-success mr-1 w200" ng-click="vm.gotoEdit(1)">CHỈNH SỬA</button>
        <button class="btn btn-outline-danger w200" ng-click="vm.remove()">XÓA</button>
    </div>
</div>
