<div class="w100p">
    <div class="row">
        <table class="table table-bordered">
            <thead class="thead-light shadow_tb">
                <tr>
                    <th colspan="4" style="text-align:center">CAVET XE</th>
                </tr>
                <tr>
                    <th rowspan="2">ĐĂNG KÝ</th>
                    <th colspan="3">NGÂN HÀNG</th>
                </tr>
                <tr>
                    <th>TÊN NGÂN HÀNG</th>
                    <th>NGƯỜI PHỤ TRÁCH</th>
                    <th>THỜI HẠN BẢN SAO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-control" ng-options="t.id as t.name for t in vm.dk_NganHang" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.ID_LOAI_CAVET">
                        </select>
                    </td>
                    <td>
                        <input class="form-control" type="text" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.TEN_NGAN_HANG" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.NGUOI_PHU_TRACH" />
                    </td>
                    <td>
                        <date-picker value="vm.thongtin_Phuongtien.GIAYTOXE.THOI_HAN_BAN_SAO" format="dd/MM/yyyy"></date-picker>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" style="width:100%;">
        <div class="col-lg-5 col-md-5">
            <table class="table table-bordered">
                <thead class="thead-light shadow_tb">
                    <tr>
                        <th colspan="2">
                            THỜI HẠN KIỂM ĐỊNH
                        </th>
                    </tr>
                    <tr>
                        <th>KINH DOANH(XANH)</th>
                        <th>KHÔNG KINH DOANH(VÀNG)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <date-picker value="vm.thongtin_Phuongtien.GIAYTOXE.KIEMDINH_TEMXANH" format="dd/MM/yyyy"></date-picker>
                        </td>
                        <td>
                            <date-picker value="vm.thongtin_Phuongtien.GIAYTOXE.KIEMDINH_TEMVANG" format="dd/MM/yyyy"></date-picker>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-lg-5 col-md-5">
            <table class="table table-bordered">
                <thead class="thead-light shadow_tb">
                    <tr>
                        <th colspan="2">
                            THỜI HẠN PHÍ SỬ DỤNG ĐƯỜNG BỘ
                        </th>
                    </tr>
                    <tr>
                        <th>NGÀY HẾT HẠN</th>
                        <th>SỐ THÁNG ĐÓNG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <date-picker value="vm.thongtin_Phuongtien.GIAYTOXE.PHI_SD_DUONGBO_NGAY_HETHAN" format="dd/MM/yyyy"></date-picker>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.SO_THANG_DONG" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row" style="width:100%;">

        <div class="col-lg-5 col-md-5">
            <table class="table table-bordered">
                <thead class="thead-light shadow_tb">
                    <tr>
                        <th colspan="2">BẢO HIỂM DÂN SỰ</th>
                    </tr>
                    <tr>
                        <th>NGÀY HẾT HẠN</th>
                        <th>TÊN CTY BẢO HIỂM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <date-picker value="vm.thongtin_Phuongtien.GIAYTOXE.BHDS_NGAYHETHAN" format="dd/MM/yyyy"></date-picker>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.BHDS_TEN_CTY_BH" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-lg-5 col-md-5">
            <label>THỜI HẠN PHÙ HIỆU HỢP ĐỒNG:</label>
            <date-picker value="vm.thongtin_Phuongtien.GIAYTOXE.THOIHAN_PHUHIEU_HOPDONG" format="dd/MM/yyyy"></date-picker>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead class="thead-light shadow_tb">
                <tr>
                    <th colspan="4">BẢO HIỂM VẬT CHẤT</th>
                </tr>
                <tr>
                    <th rowspan="2">NGÀY HẾT HẠN</th>
                    <th rowspan="2">TÊN CTY BẢO HIỂM</th>
                    <th colspan="2">LƯU GIỮ BẢN CHÍNH</th>
                </tr>
                <tr>
                    <th>NỘI BỘ</th>
                    <th>BÊN NGOÀI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <date-picker value="vm.thongtin_Phuongtien.GIAYTOXE.BHVC_NGAYHETHAN" format="dd/MM/yyyy"></date-picker>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.thongtin_Phuongtien.BHVC_TEN_CTY_BH" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.BHVC_NOIBO" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.BHVC_BENNGOAI" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" style="width:100%; margin-left:5px;">
        <label>GHI CHÚ:</label>
        <textarea style="height:100px;" class="form-control" ng-model="vm.thongtin_Phuongtien.GIAYTOXE.GHICHU"></textarea>
    </div>
</div>