<div class="row">
    <div class="col-md-4">
        <label for="Amount">TỔNG TIỀN:</label>
        <input type="number" name="Amount" class="form-control" ng-model="vm.person.CooperationAmount" />
    </div>
    <div class="col-md-4">
        <label for="firstPay">ĐÓNG TIỀN ĐỢT ĐẦU:</label>
        <input type="number" name="firstPay" class="form-control" ng-model="vm.person.CooperationFirstPay" />
    </div>
    <div class="col-md-4">
        <label for="minutePerMonth">TRỪ HÀNG THÁNG TRONG LƯƠNG:</label>
        <input type="text" name="minutePerMonth" class="form-control" ng-model="vm.person.CooperationMinutePerMonth" />
    </div>
</div>
