
<div ng-controller="lifeInsuranceController as vm" style="margin-right: 40px;">
    <div ng-init="vm.initialize()">
        <button class="btn btn-outline-primary mt-4 mb-2 mr-1 float-right" data-toggle="modal" data-target="#BankAccountController" ng-click="vm.openCreateModal()" ng-disabled="vm.IsViewing">
            <i class="fas fa-fw fa-plus"></i> THÊM MỚI
        </button>

        <table class="table table-hover">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <th style="width:20%;">SỐ HỢP ĐỒNG</th>
                    <th style="width:30%;">MỨC THAM GIA</th>
                    <th style="width:10%;">TỪ</th>
                    <th style="width:10%;">ĐẾN</th>
                    <th style="width:20%;">SỐ TIỀN</th>
                    <th style="width:10%;"></th>
                </tr>
            </thead>
            <tbody class="txt-center">
                <tr ng-repeat="row in vm.personLifeInsurances">
                    <td>{{row.Number}}</td>
                    <td>{{row.JoinLevelName}}</td>
                    <td>{{row.FromDate| date:'MM/yyyy'}}</td>
                    <td>{{row.ToDate| date:'MM/yyyy'}}</td>
                    <td>{{row.Amount}}</td>
                    <td>
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#LifeInsurance" ng-click="vm.openEditModal(row, $index)" ng-disabled="vm.IsViewing">
                            <i class="fas fa-fw fa-pen"></i>
                        </button>
                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteLifeInsurance" ng-click="vm.openDeleteModal(row, $index)" ng-disabled="vm.IsViewing">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>

        <!--WorkingHistory Modal -->
        <div class="modal fade" id="LifeInsurance" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="ModalTitle">{{vm.modelTilte}}</h5>
                        <button type="button" class="modal-btnClose close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="err-message" ng-if="vm.message">{{vm.message}}</p>
                        <form class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="bankName">CHỌN MỨC THAM GIA:</label>
                                    <select ng-class="vm.IsViewing ? 'disableEl form-control':'form-control'" ng-model="vm.selectedRow.JoinLevel"
                                            ng-options="l.Id as l.Name for l in vm.JoinLevels"
                                            ng-change="vm.checkValid()"></select>
                                </div>
                                <div class="col-md-12">
                                    <label for="bankName">SỐ HỢP ĐỒNG:</label>
                                    <input class="form-control" ng-model="vm.selectedRow.Number" placeholder="Số hợp đồng bảo hiểm" ng-change="vm.checkValid()" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="bankName">TỪ NGÀY:</label>
                                    <input class="form-control" type="date" ng-model="vm.selectedRow.FromDate" ng-change="vm.checkValid()" />
                                </div>
                                <div class="col-md-6">
                                    <label for="bankName">ĐẾN NGÀY:</label>
                                    <input class="form-control" type="date" ng-model="vm.selectedRow.ToDate" ng-change="vm.checkValid()" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="bankName">SỐ TIỀN ĐÓNG HÀNG THÁNG:</label>
                                    <input class="form-control" type="number" ng-model="vm.selectedRow.Amount" ng-change="vm.checkValid()" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.saveChanges()" ng-disabled="!vm.isValid">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete WH Modal -->
        <div class="modal fade" id="DeleteLifeInsurance" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Bạn Chắc chắn muốn xóa thông tin hợp đồng này ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.deletePersonLifeInsurance()">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>