<div ng-controller="accountManagementController as vm" style="margin:10px;">
    <div ng-init="vm.initialize()">
        <button class="btn btn-primary mt-4 mb-2 mr-1 float-right">
            <i class="fas fa-fw fa-plus"></i> THÊM MỚI
        </button>
        <table class="table table-hover">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <th style="width:20%;">TỪ NGÀY</th>
                    <th style="width:20%;">ĐẾN NGÀY</th>
                    <th style="width:40%;">ĐƠN VỊ CÔNG TÁC</th>
                    <th style="width:10%;"></th>
                </tr>
            </thead>
            <tbody class="txt-center">
                <tr ng-repeat="row in vm.accounts">
                    <td>{{row.startDate}}</td>
                    <td>{{row.endDate}}</td>
                    <td>{{row.companyName}}</td>
                    <td>
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#WorkingHistoryModal">
                            <i class="fas fa-fw fa-pen"></i>
                        </button>
                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteModal">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>