

<div ng-controller="contractSubTabController as vm" class="mt-4 display-igr">
    <div ng-init="vm.initialize()">

        <button class="btn btn-outline-primary mt-3 mb-2 mr-1 float-right" data-toggle="modal" data-target="#ContractModal" ng-click="vm.openAddModal()" ng-disabled="vm.IsViewing">
            <i class="fas fa-fw fa-plus"></i> THÊM MỚI
        </button>

        <table class="table table-hover mb-4">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <th>LOẠI HỢP ĐỒNG</th>
                    <th>SỐ HĐ</th>
                    <th>THỜI HẠN</th>
                    <th>NGÀY KÝ HĐ</th>
                    <th>NGÀY HẾT HẠN</th>
                 
                    <th></th>
                </tr>
            </thead>
            <tbody class="txt-center">
                <tr ng-repeat="row in vm.userContracts">
                    <td>{{row.ContractTypeDisplay}}</td>
                    <td>{{row.ContractNumber}}</td>
                    <td>{{row.DurationDisplay}}</td>
                    <td>{{row.SignedIn | date:'dd/MM/yyyy'}}</td>
                    <td>{{row.SignOut | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#ContractModal" ng-click="vm.openEditModal(row)" ng-disabled="vm.IsViewing">
                            <i class="fas fa-fw fa-pen"></i>
                        </button>
                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteContractModal" ng-click="vm.openDeleteModal(row, $index)" ng-disabled="vm.IsViewing">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--Contract Modal -->
        <div class="modal fade" id="ContractModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="ModalTitle">{{vm.modalTitle}}</h5>
                        <button type="button" class="modal-btnClose close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="err-message" ng-if="vm.message">{{vm.message}}</p>
                        <form class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="contractType">Loại Hợp Đồng <span class="required_ico">*</span> </label>
                                    <select id="contractType" class="form-control"
                                            ng-model="vm.userContract.ContractTypeId"
                                            ng-options="c.typeId as c.typeName for c in vm.typesOfContracts"
                                            ng-change="vm.checkValid()">
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="contractPeriod">Thời Hạn <span class="required_ico">*</span> </label>
                                    <select id="contractPeriod" class="form-control"
                                            ng-model="vm.userContract.Duration"
                                            ng-options="c.contractPeriodId as c.contractPeriod for c in vm.contractPeriods"
                                            ng-change="vm.generExpiredDate();vm.checkValid()">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="contractNumber">Số Hợp Đồng <span class="required_ico">*</span></label>
                                    <input name="contractNumber" class="form-control" type="text" placeholder="Nhập số..." ng-model="vm.userContract.ContractNumber" ng-change="vm.checkValid()" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="startDate">Ngày Ký HĐ <span class="required_ico">*</span></label>
                                    <date-picker value="vm.userContract.SignedIn" format="dd/MM/yyyy"></date-picker>
                                    <!--<input name="startDate" class="form-control" type="date" ng-model="vm.userContract.SignedIn" ng-change="vm.generExpiredDate();vm.checkValid()" />-->
                                </div>
                                <div class="col-md-6" ng-show="vm.userContract.Duration != 0">
                                    <label for="expiredDate">Ngày Hết Hạn HĐ <span class="required_ico">*</span></label>
                                    <!--<date-picker value="vm.userContract.SignOut" format="dd/MM/yyyy"></date-picker>-->
                                    <span  class="information">{{vm.userContract.SignOut | date: 'dd/MM/yyyy' }}</span>
                                    <!--<input name="expiredDate" class="form-control" type="date" ng-model="vm.userContract.SignOut" />-->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.saveChanges()" ng-disabled="!vm.isValid">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Modal -->
        <div class="modal fade" id="DeleteContractModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Bạn muốn xóa {{vm.deletedDataRow.typeName}} này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.deleted()">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>