<div ng-controller="identificationCardSubTabController as vm">
    <div ng-init="vm.initialize()" >
        <div class="mb-4">
            <label>GIẤY TỜ TÙY THÂN:</label>
            <button style="position: absolute; right: 1%; top: 0;" 
                    class="btn btn-outline-primary mt-2 mb-2 mr-1 float-right" 
                    data-toggle="modal" data-target="#IdentificationCardModal" 
                    ng-click="vm.openAddModal()" ng-disabled="vm.IsViewing">
                <i class="fas fa-fw fa-plus"></i> THÊM MỚI
            </button>
        </div>

        <table class="table table-hover">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <!--<th style="width:10%;">ID</th>-->
                    <th style="width:25%;">Loại Giấy Tờ</th>
                    <th style="width:15%;">Số</th>
                    <th style="width:20%;">Ngày Cấp</th>
                    <th style="width:20%;">Nơi Cấp</th>
                    <th style="width:10%;"></th>
                </tr>
            </thead>
            <tbody class="txt-center">
                <tr ng-repeat="row in vm.identificationCards">
                    <!--<td>{{row.Id}}</td>-->
                    <td>{{row.TypeDisplay}}</td>
                    <td>{{row.Number}}</td>
                    <td>{{row.DateDisplay}}</td>
                    <td>{{row.PlaceReleased}}</td>
                    <td>
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#IdentificationCardModal" ng-click="vm.openEditModal(row)" ng-disabled="vm.IsViewing">
                            <i class="fas fa-fw fa-pen"></i>
                        </button>
                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteICModal" ng-click="vm.openDeleteModal(row)" ng-disabled="vm.IsViewing">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--Identification Card Modal -->
        <div class="modal fade" id="IdentificationCardModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="ModalTitle">{{vm.modalTitle}}</h5>
                        <button type="button" class="modal-btnClose close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="err-message" ng-if="vm.message">{{vm.message}}</p>
                        <form class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="typeId">Loại giấy tờ <span class="required_ico">*</span> </label>
                                    <select id="typeId" class="form-control"
                                            ng-model="vm.userIdentificationCard.IdentityTypeId"
                                            ng-options="l.typeId as l.typeName for l in vm.typesOfIdentificationCard"
                                            ng-change="vm.checkValid()">
                                        <option value="">--Chọn loại giấy tờ--</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="idNumber">Số <span class="required_ico">*</span></label>
                                    <input name="idNumber" class="form-control" type="text" ng-model="vm.userIdentificationCard.Number" ng-change="vm.checkValid()" />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="issuanceDate">Cấp ngày <span class="required_ico">*</span></label>
                                    <!--<input name="issuanceDate" class="form-control" type="date" ng-model="vm.userIdentificationCard.DateReleased" ng-change="vm.checkValid()" />-->
                                    <date-picker value="vm.userIdentificationCard.DateReleased" format="dd/MM/yyyy"></date-picker>
                                </div>
                                <div class="col-md-6">
                                    <label for="issuedBy">Nơi cấp <span class="required_ico">*</span></label>
                                    <input name="issuedBy" class="form-control" type="text" ng-model="vm.userIdentificationCard.PlaceReleased" ng-change="vm.checkValid()" />
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.saveChanges()" ng-disabled="!vm.isValid">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Modal -->
        <div class="modal fade" id="DeleteICModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Bạn muốn xóa {{vm.selectedRow.TypeDisplay}} này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.deletedIdentificationCard(vm.selectedRow)">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
