<div ng-controller="quitJobHistoriesController as vm" class="mt-4 display-igr">
    <div ng-init="vm.initialize()">

        <button class="btn btn-outline-primary mt-3 mb-2 mr-1 float-right" ng-click="vm.createPersonWorkLeaveHistory()" ng-disabled="vm.IsViewing || vm.isEditing || vm.isAdding">
            <i class="fas fa-fw fa-plus"></i> THÊM MỚI
        </button>

        <table class="table table-hover mb-4">
            <thead class="thead-light shadow_tb txt-center">
                <tr>
                    <th>NGÀY VÀO CÔNG TY</th>
                    <th>NGÀY KÝ HỢP ĐỒNG</th>
                    <th>NGÀY NGHỈ VIỆC</th>
                    <th>LÝ DO NGHỈ VIỆC</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="txt-center">
                <tr ng-if="vm.isAdding == true">
                    <td>
                        <input type="date" class="form-control" ng-model="vm.personWorkLeaveHistory.StartDate" />
                    </td>
                    <td>
                        <input type="date" class="form-control" ng-model="vm.personWorkLeaveHistory.ContractDate" />
                    </td>
                    <td>
                        <input type="date" class="form-control" ng-model="vm.personWorkLeaveHistory.EndDate" />
                    </td>
                    <td>
                        <textarea class="form-control" ng-model="vm.personWorkLeaveHistory.Reason" />
                    </td>
                    <td>
                        <button class="btn btn-outline-success" ng-click="vm.saveChanges($index)">
                            <i class="fas fa-fw fa-save"></i>
                        </button>
                        <button class="btn btn-outline-dark" ng-click="vm.isAdding = false">
                            <i class="fas fa-fw fa-window-close"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="row in vm.personWorkLeaveHistories">

                    <td ng-if="!row.isEditing">{{row.StartDate | date : 'dd/MM/yyyy'}}</td>
                    <td ng-if="!row.isEditing">{{row.ContractDate | date : 'dd/MM/yyyy'}}</td>
                    <td ng-if="!row.isEditing">{{row.EndDate | date : 'dd/MM/yyyy'}}</td>
                    <td ng-if="!row.isEditing">{{row.Reason}}</td>
                    <td ng-if="!row.isEditing">
                        <button class="btn btn-outline-success" ng-click="vm.updatePersonWorkLeaveHistory(row)" ng-disabled="vm.IsViewing || vm.isEditing || vm.isAdding">
                            <i class="fas fa-fw fa-pen"></i>
                        </button>
                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteHistory" ng-click="vm.openDeleteModal(row, $index)" ng-disabled="vm.IsViewing || vm.isEditing || vm.isAdding">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>
                    </td>

                    <td ng-if="row.isEditing">
                        <input type="date" class="form-control" ng-model="vm.personWorkLeaveHistory.StartDate" />
                    </td>
                    <td ng-if="row.isEditing">
                        <input type="date" class="form-control" ng-model="vm.personWorkLeaveHistory.ContractDate" />
                    </td>
                    <td ng-if="row.isEditing">
                        <input type="date" class="form-control" ng-model="vm.personWorkLeaveHistory.EndDate" />
                    </td>
                    <td ng-if="row.isEditing">
                        <textarea class="form-control" ng-model="vm.personWorkLeaveHistory.Reason" />
                    </td>
                    <td ng-if="row.isEditing">
                        <button class="btn btn-outline-success" ng-click="vm.saveChanges($index)">
                            <i class="fas fa-fw fa-save"></i>
                        </button>
                        <button class="btn btn-outline-dark" ng-click="row.isEditing = false; vm.isEditing =false;">
                            <i class="fas fa-fw fa-window-close"></i>
                        </button>
                    </td>


                </tr>

            </tbody>
        </table>

        <!-- Delete Modal -->
        <div class="modal fade" id="DeleteHistory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div ng-if="vm.message" class="err-message">{{vm.message}}</div>
                        Bạn chắc chắn muốn xóa dữ liệu này ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" ng-click="vm.deletePersonWorkLeaveHistory()">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>